* {
    font-size: 100%;
    font-family: Courier;
    font-weight: bold;
}

#loginLabel{
    font-size: 24px;
    display: inline-block;
    text-align: center;
    margin-bottom:20%;

}

#loginInfoContainer{
    width: 280px;
    height: auto;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
    padding: 10px;
}

input{
    width: 250px;
    height: 30px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    margin: 10px auto;
    background-color: #424756;
}

input:hover{
    outline: none;
    border-color: orange;
}

.loginBtn{
    width: 45.5%;
    margin: 10px auto;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #424756;
    
}

.loginBtn:hover{
    border-color: orange;
}



body{
    background-color: #424756;
}

#buttonContainer{
    width: 200px;
    height: auto;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 15%;
}

#saveContainer{
    width: 200px;
    height: auto;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 15%;
    display: none;
}

.btn{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #424756;
    font-size: 20px;
}

.btn:hover{
    border-color: orange;
}

#timeLine{
    background-color: green;
    width: 100%;
    height: 20px;
}

#avatar{
    position: absolute;
    width: 150px;
    height: 200px;
    background-color: white;
    display:inline-block;
    margin: 30px;
    background: url(/Characters/Faces/female/female_1.png) no-repeat center center;
    background-size: cover;
    background-position: center;
    border: 3px solid black;
    border-radius: 10px;
}


#characterData{
    border: 10px #424756 solid;
    position: absolute;
    width: 49%;
    height: 74%;
    background-color: ;
}

#documentWindow{
    margin: 10px;
    margin-left: 49%;
    position: absolute;
    width: 49%;
    height: 95%;
    background-color: #2f3541;
}


#info{
    position: absolute;
    width: 470px;
    height: 200px;
    margin-bottom: px;
    margin: 30px;
    margin-left: 200px;
    border: 3px solid black;
    border-radius: 10px;
}

#docListContainer{
    position: absolute;
    width: 645px;
    height: 270px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 250px;
    
}


#docSelector{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: transparent;
}

.characterLabels{
    display: block;
    margin: 20px;
}

.document{
    padding: 25px;
}

#passport{
    width: 500px;
    height: 300px;
    background-color: lightblue;
    margin: auto;
    margin-top: 25%;
    display: none;
    border: 3px solid black;
    border-radius: 10px;
}

#passportPicture{
    display: inline-block;
    width: 150px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 3px solid black;
    border-radius: 10px;
}

#passportData{
    display: inline-block;
    position: absolute;
    margin-left: 30px;
    width: 48%;
    height: 43%;
    text-decoration: underline;
}

#visaPicture{
    display: inline-block;
    width: 150px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 3px solid black;
    border-radius: 10px;
}

#visa{
    width: 350px;
    height: 500px;
    background-color: lightpink;
    margin: auto;
    margin-top: 15%;
    display: none;
    border: 3px solid black;
    border-radius: 10px;
    
}

#visaData{
    margin-top: 30px;
    text-decoration: underline;
}

#permit{
    width: 500px;
    height: 200px;
    background-color: wheat;
    margin: auto;
    margin-top: 30%;
    display: none;
    border: 3px solid black;
    border-radius: 10px;
}

#permitData{
    text-decoration: underline;
}

#vaccine{
    width: 350px;
    height: 500px;
    background-color: gray;
    margin: auto;
    margin-top: 15%;
    display: none;
    border: 3px solid black;
    border-radius: 10px;
}

#vaccineData{
    text-decoration: underline;
}

.docLabels{
    display: block;
    margin: 10px;
}

.decBtn{
    position: relative;
    width: 250px;
    height: 80px;
    border: 3px solid black;
    border-radius: 30px;
    margin-top: 83%;
    margin-left: 60px;
    background-color: #424756;
}


#approveButton:hover{
    border-color: green;
    
}

#approveButton:active{
    color: green;
    
}

#denyButton:hover{
    border-color: red;
}

#denyButton:active{
    color: red;
}

#gameWindow{
    display: none;
}

#mainMenuWindow{
    display: none;
}

#statsWindow{
    display: none;
}

#statsContainer{
    width: auto;
    height: auto;
    position: relative;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
    padding: 10px;
}

.statsLabel{
    position: relative;
    display: block;
    margin: 20px auto;
    text-align: center;
}

#nextDayBtn{
    width: 200px;
    height: 40px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #424756;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    margin-top: 2%;
}

#nextDayBtn:hover{
    border-color: orange;
}

#backToMenuBtn{
    width: 200px;
    height: 40px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #424756;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    margin-top: 7%;
}

#backToMenuBtn:hover{
    border-color: orange;
}

#currentDay{
    font-size: 36px;
    margin-top: -5%;
    margin-bottom: 7%;
}

